body{
    background-color: rgb(70, 95, 25);
    height: 100%;
    margin: 0;
    display: grid;
    place-items: center;
    padding: 200px;
}

.corpo{
    text-align: center;
    background-color: rgb(194, 134, 23);
    padding: 20px;
    border-radius: 2px;
    border: 5px solid #000;
    border-radius: 30px;
}